body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00eeff; /* cor de fundo branca */
    color: #ffffff; /* azul-escuro para o texto */
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    background-color: #00d9ff; /* branco para o fundo do conteúdo */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* sombra leve para destaque */
    text-align: center;
}
h1 {
    text-align: center;
    color: #ffffff; /* azul para títulos */
}
p {
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
}
.game-image {
    display: block;
    margin: 30px auto;
    width: 20%;
    border-radius: 10px;
    border: 5px solid #ffffff; /* borda azul para a imagem */
}
.features {
    margin-top: 40px;
}
.feature {
    margin-bottom: 15px;
}
.feature-title {
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffffff; /* azul para títulos de recursos */
}
.feature-description {
    font-size: 1.3rem;
    line-height: 1.6;

}

video {
    width: 100%;
    max-width: 1280px;
    margin-bottom: 2%;
}

button {
    background-color: rgb(47, 255, 151);
    color: white;
    width: 40;
    height: 10%;
    font-size: 200%;
    padding: 10px;
}


.return {
    background-color: transparent;
    border-radius: 0;
    width: 20vw;
    height: 20vw;
    border: none;
    margin-left: -7vw;
}

.voltar {
    width: 5vw;
    height: 5vw;}

a {
    color: white;
    display: block;
    text-decoration: none;
    width: 20vh;
    margin: auto;
}

.media {
    margin-top: 1vh;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 2%
}