#navbar {
    width: 100vw;
    background-image: linear-gradient(to bottom,rgb(0, 174, 255),rgb(139, 214, 248));
    height: 10vh;
}

h1{
    text-align: center;
    padding-top: 2%;
}

* {
    margin: 0;
    font-family: 'Copperplate';
    color: white;
    font-size: 4vh;
    
}

body {
    background-color: rgb(0, 174, 255);
}

.project  {
    width: 20vh;
    background-color: rgb(255, 255, 255);
    height: 20vh;
    margin-left: 10%;
    margin-top: 2%;
}

.project:hover  {
    transform: scale(1.1);
    transition: .5s;
}

.project img {
    width: 20vh;
    height: 20vh;
}

.project p {
    width: 20vh;
    height: 10vh;

    background-color: rgb(104, 104, 104);
    font-size: 2vh;
    text-align: center;
}

#menu {
    background-color: rgb(160, 157, 157);
    width: 90vh;
    margin: auto;
    margin-top: 10vh;
    height: 70vh;
    display: flex;
    flex-wrap: wrap
}

.title {
    text-align:  center;
    margin-top: 2vh;
    margin-bottom: -5vh;
}
