:root {
    --cor-primaria: #333333 ;
    --cor-secundaria: #222 ;
    --cor-terciaria: #333 ;
    --accent-color: #F39C12 ;
    --text-color: #fff ;
    --border-color: #999999;

}


#navbar {
    width: 100vw;
    background-color: var(--text-color);
    height: 200px;
    display: flex;
    padding: 20px;
}

.logo {
    border-radius: 50%;
    max-width: 176px;
    width: 176px;
}

h1{
    padding-top: 4vh;
    font-size: 3rem;
    width: 50vw;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 3rem;
}

* {
    margin: 0;
    font-family: 'Copperplate';
    color: var(--text-color);
    
}





.hero-image {
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("./gifGRAPLLES.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border-bottom: solid ;
}

.hero-text {
    color: white;
    text-align: center;
    
}

.hero-text h1 {
    font-size: 50px;
    font-weight: 500;
}

.hero-text p{
    font-size: 30px;
    font-weight: 500;
    line-height: 10px;
}

.hero-btn {
    text-decoration: none;
    color: white;
    background: black;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 40px;
    display: inline-block;
}

.hero-btn:hover {
    background: white;
    color: black;
    transition: .5s;
}

body {
    background-color: var(--cor-secundaria);
    max-width: 100%; 
    overflow-x: hidden;
}

.project  {
    width: 15vw;
    background-color: rgb(104,104,104);
    height: 15vw;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 20%;
    border: solid var(--border-color);
}

.project:hover  {
    transform: scale(1.1);
    transition: .5s;
}

.project img {
    width: 100%;
    height: 100%;


}

.project p {
    width: 100%;
    height: 100%;


    font-size: 100%;
    text-align: justify;
}
.project b {

    font-size: larger;
    text-align: justify;
}

#menu  {
    margin: auto;
    margin-top: 10vh;
    height: 90vh;
    justify-content: left;
    width: 85vw;
    border-radius: 1%;
    margin-bottom: 100px;
    padding-bottom: 30%;
    max-width: 100vw;
    
}

#projects {
    
    display: flex;
    flex-wrap: wrap;
}

.title {
    text-align:  center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    background-color: var(--cor-terciaria);
    padding: 10px;
    height: 65%;
    border: solid var(--border-color);
}

.project:hover {

    transition: .3s;
    transform: rotate(1deg);
    
    
}

.container p {

    font-size: 100%;
    text-align: justify;
}


.misc {
    border: 4px solid ;
    border-radius: 1%;
    text-align: center;
    display: block;
    margin: auto;    
    background-color: var(--cor-secundaria);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 30px;
    
}


.videos {
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.videos video {
    margin: auto;
    display: flex;
    width: 40vw;
    justify-content: center;
    flex-wrap: wrap;
}

.videos h3 {
    font-size: 200%;
}

.video {
    border-radius: 10px;
    margin-bottom: 10vh;
    margin: auto;
    margin-top: 30px;
    background-color: var(--cor-terciaria);
    padding: 20px;
}

.video:hover {
    border: #fff 2px solid;
}

video {
    width: 1280px;
    margin-left: 4vh;
}

@media (max-width: 1000px) {
    .project {
        width: 30vw;
        height: 20vw;
        padding-bottom: 12vh;
        background-color: transparent;
    }

    #menu {
        height: 120vh;
    }

    .container b {
        width: 20vw;
        height: 10vw;
        font-size: 40%;
    }
    .container p {

        font-size: 30%;
    }
    .video {
        display: inline;
    }
}

@keyframes shyneBorder {
    0% {
        border: solid 2px white;
    }
    100% {
        border: solid 2px black;

    }
}