div {
    margin: 0px;
}

body{
    margin-top: -4.1vh;
    background-image: linear-gradient(to right,rgb(0, 174, 255),rgb(139, 214, 248));
    color: rgb(255, 255, 255);
    font-weight: bolder;

}


video {
    max-width: 1280px;
    width: 200vh;
    margin: 5%;
}
video:hover {
    
}
img {
    width: 70%;
}

#right {
    margin-left: 30vw;
    text-align: center;
}

* {
    font-family: 'Copperplate';
}

h2 {
    font-size: 5vh;
}

p {
    font-size: 2.5vh;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: rgb(0, 38, 56);
    border-radius: 10%;
}

#me {
    width: 30vh;
    border-radius: 50%;
}


#navbar {
    background-image: linear-gradient(to bottom,rgb(0, 174, 255),rgb(139, 214, 248));
    min-height: 100vh;
    width: 20vw;
    color: white;
    position: fixed;
}

#navbar:hover {
    width: 25vw;
    transition: .5s;
}



#navbar a {
    margin-left: 15%;
    font-size: 3vh;
}
#navbar h1 {
    margin-left: 7%;
    font-size: 4vh;
}